<!-- templates/filesAdmin.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <tr>
        <th><a href="{{ url_for('view_files', order_by='timestamp') }}">Sort by timestamp</a></th>
        <th><a href="{{ url_for('view_files', order_by='theme') }}">Sort by theme</a></th>
        <th><a href="{{ url_for('view_files', order_by='user.username') }}">Sort by author</a></th>
            <!-- Add other columns as needed -->
    </tr>
</head>
<body>
    <h1>Files</h1>
    <table>
        <thead>
            <tr>
                <th>Theme</th>
                <th>Discription</th>
                <th>File Name</th>
                <th>Timestamp</th>
                <th>Uploaded By</th>
                <th>Action</th>
                <th>Delete file</th>
            </tr>
        </thead>
            <tbody>
                {% for file in files %}
                    <tr>
                        <td>{{ file.theme }}</td>
                        <td>{{ file.comment }}</td>  <!-- Display the comment -->
                        <td>{{ file.name }}</td>
                        <td>{{ file.timestamp }}</td>
                        <td>{{ file.user.username }}</td>
                        
                        <td><a href="{{ url_for('download_file', filename=file.name) }}">Download</a></td>
                        <td><a href="{{ url_for('admin_delete_file', file_id=file.id) }}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
