<!-- templates/filesAdmin.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" />
</head>
<body class = "page">
    <main>
        <div class="card">
            <img src="../static/icon.svg">
            <div class="cardtext">
                <p>Прототип сервиса облачного обмена данными</p>
                <p>Tiny Cloud</p>
            </div>
            </div>
    <h1 class="heading">Файлы</h1>
    <form class ='form-row' action="{{ url_for('view_files') }}" method="get">
        
        <label for="theme_filter">Тема:</label>
        <select name="theme_filter" id="theme_filter">
            <option value="">Все темы</option>
            <option value="Coding" {% if theme_filter == 'Coding' %}selected{% endif %}>Coding</option>
            <option value="Coding" {% if theme_filter == 'Gaming' %}selected{% endif %}>Gaming</option>
            <option value="Coding" {% if theme_filter == 'Science' %}selected{% endif %}>Science</option>
            <option value="Coding" {% if theme_filter == 'Books' %}selected{% endif %}>Books</option>
            <option value="Coding" {% if theme_filter == 'Learning' %}selected{% endif %}>Learning</option>
            <option value="Coding" {% if theme_filter == 'Other' %}selected{% endif %}>Other</option>
            <!-- Добавьте аналогичные опции для других тем -->
        </select>
        
        <label for="start_date_filter">Дата начала:</label>
        <input class="stroke" type="date" name="start_date_filter" value="{{ start_date_filter }}">
        
        <label for="end_date_filter">Дата конца:</label>
        <input class="stroke" type="date" name="end_date_filter" value="{{ end_date_filter }}">

        <button type="submit">Применить фильтры</button>

        <tr>
            <div class = "header">
            <th ><a class="stroke" href="{{ url_for('view_files', order_by='timestamp') }}">Сортировка по времени</a></th>
            <th><a class="stroke" href="{{ url_for('view_files', order_by='theme') }}">Сортировка по теме</a></th>
            <th><a class="stroke" href="{{ url_for('view_files', order_by='user.username') }}">Сортировка по автору</a></th>
            </div>
        </tr>

    </form>
    <div class="table-wrap">
    <table >

        <thead>
            <tr class="stroke">
                <th class = "stroke">Тема</th>
                <th class = "stroke">Описание</th>
                <th class = "stroke">Имя файла</th>
                <th class = "stroke">Timestamp</th>
                <th class = "stroke">Автор</th>
                <th class = "stroke">Загрузить</th>
                <th class = "stroke">Удалить</th>
            </tr>
        </thead>
            <tbody>
                {% for file in files %}
                    <tr class="stroke">
                        <td class = "stroke">{{ file.theme }}</td>
                        <td class = "stroke">{{ file.comment }}</td>  <!-- Display the comment -->
                        <td class = "stroke">{{ file.name }}</td>
                        <td class = "stroke">{{ file.timestamp }}</td>
                        <td class = "stroke">{{ file.user.username }}</td>
                        
                        <td class = "stroke"><a href="{{ url_for('download_file', filename=file.name) }}">Download</a></td>
                        <td class = "stroke"><a href="{{ url_for('admin_delete_file', file_id=file.id) }}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
</div>
    <a href="{{ url_for('index') }}" class = "stroke">На главную страницу</a>
    <footer> 
        <div class="footer-content"> 
            <a class="footer__logo" href="index.html"> 
                <h1 a class="footer__logo-image">Tiny Cloud</h1>
                <img src="../static/icon.svg">
            </a> 
            <nav> 
                <ul class="nav-list"> 
                    <li class="nav-item"> 
                        <a href="https://t.me/Tiny_Cloud_Official" class="nav-link">TG</a> 
                    </li> 
                    <li class="nav-item"> 
                        <a href="" class="nav-link">VK</a> 
                    </li> 
                    <li class="nav-item"> 
                        <a href="" class="nav-link">YouTube</a> 
                    </li> 
                </ul> 
            </nav> 
        </div> 
        <hr class="hr2"> 
        <div class="copyright"> 
            <p class="copyright-text">support@service.com</p> 
        </div> 
    </footer>
</main>
</body>
</html>


