<!-- templates/filesAdmin.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ваш существующий код -->
</head>
<body>
    <h1>Files</h1>
    <table>
        <thead>
            <tr>
                <th>File Name</th>
                <th>Timestamp</th>
                <th>Uploaded By</th>
                <th>Action</th>
                <th>Delete file</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td>{{ file.timestamp }}</td>
                    <td>{{ file.user.username }}</td>
                    <td><a href="{{ url_for('download_file', filename=file.name) }}">Download</a></td>
                    <td><a href="{{ url_for('admin_delete_file', file_id=file.id) }}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
