<!-- templates/register.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" />

</head>
<body class = "page">
    <main>
    <div class = "content">
    
    <form action="/register" method="post" class = "form">
        <h1 class = "page-heading">Register</h1>
        {% if user %}
            {% if user.status == 'SuperAdmin' %}
                <label class="input" for="status">Status:</label>
                {{ form.status(class="form-control", required=true) }}
            {% endif %}
        {% else %}
            <h1>Please create an account</h1>
            {{ form.hidden_tag() }}
            
            
            {{ form.username(class="form-control", required=true, placeholder="Username") }}
            <br>
            
            {{ form.password(class="form-control", required=true, placeholder="Password") }}
            <br>
            
            {{ form.confirm_password(class="form-control", required=true, placeholder="Confirm Password") }}
            <br>
           
            {{ form.status(class="stroke", required=true, placeholder="Status") }}
            <br>
            
            <input class="stroke" type="submit" value="Register" class="btn btn-primary">
        {% endif %}
        </form>
        <br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
        </main>
    <footer> 
        <div class="footer-content"> 
            <a class="footer__logo" href="index.html"> 
                <h1 a class="footer__logo-image">Tiny Cloud</h1>
            </a> 
            <nav> 
                <ul class="nav-list"> 
                    <li class="nav-item"> 
                        <a href="" class="nav-link">TG</a> 
                    </li> 
                    <li class="nav-item"> 
                        <a href="" class="nav-link">VK</a> 
                    </li> 
                    <li class="nav-item"> 
                        <a href="" class="nav-link">YouTube</a> 
                    </li> 
                </ul> 
            </nav> 
        </div> 
        <hr class="hr2"> 
        <div class="copyright"> 
            <p class="copyright-text">support@service.com</p> 
        </div> 
    </footer>
</body>
</html>